.header {
  .logo-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: black;

    .logo {
      .logo-link {
        img {
          height: 40px;
          object-fit: cover;
        }
      }
    }
    .nav-bar-seacrh {
      @apply space-x-4;
      display: flex;
      justify-content: center;
      a {
        color: white;
        font-size: 20px;
        font-weight: 300;
        transition: all 0.3s;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 3px;
          width: 0;
          bottom: -3px;
          left: 0;
          background: red;
          transition: all 0.3s;
        }
        &:hover {
          &::before {
            width: 100%;
          }
          color: red;
        }
      }
      .search {
      }
      .carts {
      }
      .login {
      }
      .register {
      }
    }
  }

  .menu {
    min-height: 75px;
    .nav-menu {
      a {
        color: gray;
        font-size: 20px;
        font-weight: 300;
        transition: all 0.3s;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 3px;
          width: 0;
          bottom: -3px;
          left: 0;
          background: gray;
          transition: all 0.3s;
        }
        &:hover {
          &::before {
            width: 100%;
          }
          color: yellow;
        }
      }
    }
  }
}
